*.swp
*.ndb
nio
utils/tabGen
utils/addEmpty
utils/c2tsv
utils/c2tsvs
utils/tabGen
utils/transpose
utils/catz
utils/catz.nims
utils/catz.nim.cfg
demo/timeSeries/DONE
demo/timeSeries/idTm/
demo/timeSeries/ix2id.N8C
demo/timeSeries/ix2tm.N15C
demo/timeSeries/qp-stocks0
demo/timeSeries/qp-stocks1
demo/timeSeries/qp-stocks2
demo/timeSeries/svlm.N8C
demo/timeSeries/tmId/
demo/timeSeries/trTm.N8C
demo/favg
demo/a.Nl
demo/xy.Nff
demo/z.Nf
demo/data
